.projectsMain {
    height: 100vh;
    width: 100vw;
    padding: 3%;
    margin-inline: auto;
    overflow: hidden;
    margin-block: 10rem;

    .projectsTitle {
        font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: larger;
        font-weight: 650;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: rgb(0, 174, 255);
        text-indent: 7rem;
    }

    .angry-grid {
        display: grid;
        gap: 1.5rem;
        height: 100%;
        width: 100%;

        .projectItem {
            border-radius: 1rem;
            position: relative;
        }

        .item-0 {
            position: relative;
            grid-row: 2 / 7;
            grid-column: 3 / 7;

            overflow: hidden;

            box-shadow: var(--paleAccent) -.1rem -.1rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .2rem, var(--paleAccent) -.1rem -.1rem var(--shadowValue) 0,
                var(--shadowColorThree) 0 0 .2rem, var(--paleAccent) .0rem .0rem .3rem 0,
                var(--shadowColorThree) 0 0 .2rem;

            .casTitle {
                position: relative;
                display: flex;
                width: 100%;

                padding-top: .5rem;

                h1 {
                    color: var(--accent);
                    text-shadow: .1rem .1rem 0 var(--secAccent);

                    font-size: 3.7rem;
                    line-height: 3.3rem;
                    font-weight: 600;
                    letter-spacing: -0.25rem;
                    font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: lowercase;
                    text-indent: .8rem;
                }
            }

            .casSubTitle {
                font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                text-transform: uppercase;
                letter-spacing: .26rem;
                color: var(--tpPri);
                user-select: none;
                text-shadow: .1rem .1rem 0 var(--secColor);
                text-indent: 1rem;
            }

            .casLinks {
                display: flex;
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                gap: .5rem;

                a {
                    position: relative;
                    display: flex;
                    align-items: center;

                    color: var(--secColor);
                    box-shadow: var(--paleAccent) .05rem .05rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .2rem;
                    outline: .15rem solid rgba(0, 0, 0, 0);

                    padding: .5rem;
                    border-radius: 3rem;
                    transition: 400ms all ease;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    h3 {
                        display: flex;
                        width: 0;
                        overflow: hidden;
                        white-space: nowrap;

                        text-indent: .5rem;
                        font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                        text-transform: uppercase;
                        letter-spacing: .26rem;
                        color: var(--tpPri);
                        user-select: none;
                        text-shadow: .1rem .1rem 0 var(--secColor);
                        font-size: medium;

                        transition: 400ms all ease;
                    }

                    &:focus-visible {
                        outline: .15rem solid var(--paleAccent);

                        h3 {
                            width: 8rem;
                        }

                        &:last-child {
                            h3 {
                                width: 8.5rem;
                            }
                        }
                    }

                    &:hover {
                        h3 {
                            width: 8rem;
                        }

                        &:last-child {
                            h3 {
                                width: 8.5rem;
                            }
                        }
                    }
                }
            }

            .casLogo {
                position: absolute;
                width: 85%;
                height: 85%;
                z-index: -2;
                right: -5%;
                top: 7%;

                #linearLogoFooter {
                    :first-child {
                        stop-color: var(--paleAccent)
                    }

                    :nth-child(2) {
                        stop-color: var(--secAccent)
                    }

                    :nth-child(3) {
                        stop-color: var(--tpPri)
                    }
                }
            }

            .casGradient {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background:
                    linear-gradient(100deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--tpPri)),
                    radial-gradient(circle at left top, transparent 35%, rgba(0, 0, 0, 0), var(--tpPri) 70%);
                z-index: -1;
            }
        }

        .item-1 {
            grid-row: 1 / 2;
            grid-column: 4 / 8;

            position: relative;
            right: 1.5rem;

            overflow: hidden;

            background:
                linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--tpPri)),
                radial-gradient(circle at top center, transparent 35%, rgba(0, 0, 0, 0), var(--tpPri) 70%);
            box-shadow: var(--paleTertAccent) .1rem .1rem var(--shadowValue) 0, var(--paleTertAccent) .1rem .1rem var(--shadowValue) 0,
                var(--shadowColorThree) 0 0 .3rem, var(--paleTertAccent) -.0rem -.0rem .3rem 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                position: relative;
                font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                text-transform: uppercase;
                letter-spacing: .2rem;
                color: var(--tpPri);
                user-select: none;
                text-shadow: .1rem .1rem 0 var(--secColor);
            }

            div {
                display: flex;
                gap: 1rem;

                a {
                    position: relative;
                    display: flex;
                    align-items: center;

                    color: var(--tertAccent);
                    text-shadow: .1rem .15rem 0 var(--additionalAccent);

                    font-size: 2.2rem;
                    line-height: 2.8rem;
                    font-weight: 600;
                    letter-spacing: -0.15vmax;
                    font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: lowercase;

                    transition: 400ms all;

                    &:focus-visible {
                        color: var(--accent);
                    }

                    &:hover {
                        color: var(--accent);
                    }
                }
            }
        }

        .item-2 {
            grid-row: 3 / 7;
            grid-column: 1 / 3;

            position: relative;
            bottom: 2rem;
            right: 1rem;

            box-shadow: var(--paleSecAccent) -.1rem .05rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem, var(--paleSecAccent) 0 -0 .3rem 0;

            overflow: hidden;
            display: flex;
            flex-direction: column-reverse;
            padding-right: 1rem;

            .weatherTitle {
                color: var(--secAccent);
                text-shadow: .1rem .1rem 0 var(--accent);
                font-size: 2.2rem;
                font-weight: 600;
                letter-spacing: -0.15rem;
                font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                text-transform: lowercase;
                text-indent: 1rem;
                pointer-events: none;
                position: relative;
                bottom: .5rem;
            }

            .weatherSubTitle {
                position: relative;
                font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                text-transform: uppercase;
                letter-spacing: .1rem;

                color: var(--tpPri);
                text-shadow: .1rem .1rem 0 var(--secColor);
                margin-left: 1rem;

                user-select: none;
            }

            .weatherLinks {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 1rem;
                left: 1rem;
                gap: .5rem;

                a {
                    position: relative;
                    display: flex;

                    color: var(--secColor);
                    box-shadow: var(--paleSecAccent) .05rem .05rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .2rem;
                    outline: .15rem solid rgba(0, 0, 0, 0);

                    padding: .5rem;
                    border-radius: 3rem;
                    transition: 400ms all ease;

                    width: min-content;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    h3 {
                        display: flex;

                        width: 0;
                        overflow: hidden;
                        white-space: nowrap;

                        text-indent: .5rem;
                        font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                        text-transform: uppercase;
                        letter-spacing: .26rem;
                        color: var(--tpPri);
                        user-select: none;
                        text-shadow: .1rem .1rem 0 var(--secColor);
                        font-size: medium;

                        transition: 400ms all ease;
                    }

                    &:focus-visible {
                        outline: .15rem solid var(--paleAccent);

                        h3 {
                            width: 8rem;
                        }

                        &:last-child {
                            h3 {
                                width: 8.5rem;
                            }
                        }
                    }

                    &:hover {
                        h3 {
                            width: 8rem;
                        }

                        &:last-child {
                            h3 {
                                width: 8.5rem;
                            }
                        }
                    }
                }
            }

            .weatherLogo {
                position: absolute;
                z-index: -3;

                &.sunLogo {
                    color: var(--paleSecAccent);
                    width: 90%;
                    height: 90%;
                    right: -25%;
                    top: -20%;
                    transform: rotate(-25deg);
                }

                &.moonLogo {
                    width: 90%;
                    height: 90%;
                    right: -30%;
                    top: -25%;
                    transform: rotate(-80deg) scaleX(-1);

                    stroke: var(--paleSecAccent);

                    path {
                        &:first-child {
                            fill: var(--secColor);
                            stroke: var(--paleSecAccent);
                        }
                    }
                }
            }

            .weatherGradient {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle at left bottom, transparent 30%, rgba(0, 0, 0, 0), var(--tpPri) 85%);
                z-index: -1;
            }
        }

        .item-3 {
            grid-row: 7 / 8;
            grid-column: 3 / 6;

            position: relative;
            top: .5rem;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;

            background:
                linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--tpPri)),
                radial-gradient(circle at top center, transparent 35%, rgba(0, 0, 0, 0), var(--tpPri) 70%);
            box-shadow: var(--paleAccent) .1rem .05rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem, var(--paleAccent) 0 0 .3rem 0;

            h2 {
                color: var(--accent);
                text-shadow: .07rem .09rem 0 var(--secAccent);
                font-size: 2.2rem;
                font-weight: 500;
                letter-spacing: -0.12rem;
                font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                text-transform: lowercase;
                text-indent: 1.2rem;
                pointer-events: none;

                span {
                    color: var(--secAccent);
                    text-shadow: .07rem .1rem 0 var(--accent);

                    &:first-child {
                        margin-inline: .2rem;
                        color: var(--tertAccent);
                        text-shadow: .07rem .09rem 0 var(--secColor);
                    }

                    &:last-child {
                        margin-left: .1rem;
                        text-transform: uppercase;
                    }
                }
            }

            div {
                display: flex;
                left: -.5rem;

                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: uppercase;
                    letter-spacing: .1rem;

                    color: var(--tpPri);
                    text-shadow: .1rem .1rem 0 var(--secColor);
                    margin-left: 2rem;

                    user-select: none;

                    h3 {
                        transition: 300ms all;
                    }

                    &:focus-visible {
                        h3 {
                            text-shadow: .1rem .1rem 0 var(--secAccent);
                            color: var(--paleAccent);
                            text-decoration: underline;
                        }
                    }

                    &:hover {
                        h3 {
                            text-shadow: .1rem .1rem 0 var(--secAccent);
                            color: var(--paleAccent);
                        }
                    }
                }
            }
        }

        .item-4 {
            grid-row: 3 / 6;
            grid-column: 7 / 10;

            position: relative;
            top: 3rem;
            left: 1rem;
            margin-right: 2rem;

            box-shadow: var(--paleTertAccent) .1rem .05rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem, var(--paleTertAccent) 0 0 .3rem 0;

            overflow: hidden;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;

            .sscTitle {
                position: relative;
                display: flex;
                gap: .5rem;
                left: -1.5rem;
                bottom: .5rem;

                h2 {
                    color: var(--tertAccent);
                    text-shadow: .1rem .1rem 0 var(--additionalAccent);

                    font-size: 2.2rem;
                    font-weight: 600;
                    letter-spacing: -0.15rem;
                    font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: lowercase;
                }
            }

            .sscSubTitle {
                font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                text-transform: uppercase;
                letter-spacing: .15rem;
                color: var(--tpPri);
                user-select: none;
                text-shadow: .1rem .1rem 0 var(--secColor);
                position: relative;
                left: -1.5rem;

                margin-top: 4rem;
            }

            .sscLink {
                position: absolute;
                display: flex;
                align-items: center;
                top: 1rem;
                right: 1rem;

                padding: .5rem;

                color: var(--secColor);
                box-shadow: var(--paleTertAccent) -.05rem .05rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .2rem;
                outline: .15rem solid rgba(0, 0, 0, 0);

                border-radius: 3rem;
                transition: 400ms all ease;

                writing-mode: vertical-rl;
                text-orientation: upright;

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                h3 {
                    display: flex;
                    height: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: uppercase;
                    letter-spacing: .26rem;
                    color: var(--tpPri);
                    user-select: none;
                    text-shadow: .1rem .1rem 0 var(--secColor);
                    font-size: small;
                    margin-right: .3rem;
                    transition: 400ms all ease;
                }

                &:focus-visible {
                    outline: .15rem solid var(--paleAccent);

                    h3 {
                        padding-top: .5rem;
                        height: 6rem;
                    }
                }

                &:hover {
                    h3 {
                        padding-top: .5rem;
                        height: 6rem;
                    }
                }
            }

            .sscLogo {
                position: absolute;
                width: 85%;
                height: 85%;
                z-index: -2;
                left: -32%;
                top: -20%;

                transform: rotate(135deg);
                color: var(--tertAccent);
                z-index: -3;

                #linearSscLogo {
                    :first-child {
                        stop-color: var(--paleTertAccent)
                    }

                    :nth-child(2) {
                        stop-color: var(--secAccent)
                    }
                }

                path {
                    &:last-child {
                        color: var(--tertAccent);
                    }

                    &:nth-child(2) {
                        color: var(--paleTertAccent);
                        fill: var(--tertAccent);
                    }
                }
            }

            .sscGradient {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle at right bottom, transparent 30%, rgba(0, 0, 0, 0), var(--tpPri) 85%);
                z-index: -1;
            }
        }

        .item-5 {
            grid-row: 2 / 3;
            grid-column: 7 / 10;

            position: relative;
            top: 2rem;

            display: flex;
            flex-direction: column;

            background:
                linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--tpPri)),
                radial-gradient(circle at left top, transparent 35%, rgba(0, 0, 0, 0), var(--tpPri) 70%);
            box-shadow: var(--paleSecAccent) .1rem -.05rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem, var(--paleSecAccent) 0 0 .2rem 0;

            overflow: hidden;

            h2 {
                color: var(--secAccent);
                text-shadow: .1rem .1rem 0 var(--accent);
                font-size: 2.2rem;
                font-weight: 600;
                letter-spacing: -0.15rem;
                font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                text-transform: lowercase;
                text-indent: 1.5rem;
                pointer-events: none;
            }

            div {
                position: relative;
                left: 2rem;

                a {
                    position: relative;
                    font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: uppercase;
                    letter-spacing: .1rem;

                    color: var(--tpPri);
                    text-shadow: .1rem .1rem 0 var(--secColor);

                    user-select: none;

                    &:last-child {
                        margin-left: .5rem;
                    }

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -.35rem;
                        left: 0;
                        display: block;
                        height: .125rem;
                        width: 101%;
                        pointer-events: none;
                        border-radius: .4rem;

                        transform-origin: right;
                        transform: scaleX(0);
                    }

                    &::after {
                        background-color: var(--accent);
                        transition: transform 1.2s cubic-bezier(.19, 1, .22, 1);
                    }

                    &::before {
                        background-color: var(--secAccent);
                        transition: transform 2.2s cubic-bezier(.19, 1, .22, 1);
                    }

                    &:last-child {
                        &::after {
                            transform-origin: right;
                            background-color: var(--secAccent);
                        }

                        &::before {
                            transform-origin: right;
                            background-color: var(--accent);
                        }
                    }

                    &:hover {
                        &::after {
                            transform: scaleX(1);
                            transform-origin: left;
                            transition: transform 1.9s cubic-bezier(.19, 1, .22, 1);
                        }

                        &::before {
                            transform: scaleX(1);
                            transform-origin: left;
                            transition: transform 1.2s cubic-bezier(.19, 1, .22, 1);
                        }
                    }

                    &:focus-visible {
                        color: var(--accent);

                        &::after {
                            transform: scaleX(1);
                            transform-origin: center;
                            transition: transform 1.9s cubic-bezier(.19, 1, .22, 1);
                        }

                        &::before {
                            transform: scaleX(1);
                            transform-origin: center;
                            transition: transform 1.2s cubic-bezier(.19, 1, .22, 1);
                        }
                    }
                }
            }
        }
    }

    .angry-grid {
        .item-0 {
            transform: translateY(130vh);
        }

        .item-1 {
            transform: translateX(100vw);
        }

        .item-2 {
            transform: translateY(-130vh);
        }

        .item-3 {
            transform: translateX(-100vw);
        }

        .item-4 {
            transform: translateX(100vw);
        }

        .item-5 {
            transform: translateY(-130vh);
        }
    }

    .angry-grid {
        .item-visible {
            transform: translate(0);
            transition: transform 1s cubic-bezier(0.19, 0.9, 0.22, 1);
        }

        .item-1,
        .item-2,
        .item-3 {
            transition: transform 1s cubic-bezier(0.19, 0.9, 0.22, 1);
        }

        .item-4 {
            transition: transform 1.5s cubic-bezier(0.19, 0.9, 0.22, 1);
        }

        .item-5 {
            transition: transform 1s cubic-bezier(0.19, 0.8, 0.22, 1);
        }
    }
}

@media (max-width: 1508px) {
    .projectsMain {
        height: 50rem;

        .projectsTitle {
            font-size: small;
            letter-spacing: .03rem;
            text-indent: 0.1rem;
            text-indent: .5rem;
            margin-bottom: 2rem;
        }

        .angry-grid {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            .projectItem {
                flex-grow: 1;
            }

            .item-0 {
                order: 1;

                grid-row: unset;
                grid-column: unset;
                top: unset;
                left: unset;
                right: unset;
                bottom: unset;
                margin: 0;
                height: 50%;

                box-shadow: var(--paleAccent) -.1rem 0 var(--shadowValue) 0, var(--shadowColorThree) 0 0 .2rem;
            }

            .item-1 {
                order: 1;

                grid-row: unset;
                grid-column: unset;
                top: unset;
                left: unset;
                right: unset;
                bottom: unset;
                margin: 0;
                padding-block: .5rem 1rem;
                flex-direction: column-reverse;

                box-shadow: var(--paleTertAccent) -.1rem 0 var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem;

                div {
                    a {
                        font-size: 2.2rem;
                        line-height: 2rem;
                    }
                }
            }

            .item-2 {
                order: 4;

                grid-row: unset;
                grid-column: unset;
                top: unset;
                left: unset;
                right: unset;
                bottom: unset;
                margin: 0;

                box-shadow: var(--paleSecAccent) .1rem -.05rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem;
            }

            .item-3 {
                display: none;
                // order: 3;

                // grid-row: unset;
                // grid-column: unset;
                // top: unset;
                // left: unset;
                // right: unset;
                // bottom: unset;
                // margin: 0;
                // padding-bottom: 1rem;
                // flex-direction: column;

                // box-shadow: var(--paleAccent) -.1rem .1rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem;

                // h2 {
                //     font-size: 2rem;
                // }
            }

            .item-4 {
                order: 5;

                grid-row: unset;
                grid-column: unset;
                top: unset;
                left: unset;
                right: unset;
                bottom: unset;
                margin: 0;
            }

            .item-5 {
                // display: none;

                order: 0;
                grid-row: unset;
                grid-column: unset;
                top: unset;
                left: unset;
                right: unset;
                bottom: unset;
                margin: 0;
                padding-block: .5rem 1rem;

                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;

                box-shadow: var(--paleSecAccent) -.1rem -.05rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem;

                h2 {
                    text-indent: 0;
                    line-height: 2rem;
                }

                div {
                    left: unset;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .projectsMain {
        height: unset;
        width: 70vw;
        padding: 3%;
        margin-inline: auto;
        margin-top: 1rem;
        overflow: hidden;

        .angry-grid {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .item-0 {
                order: 1;
                width: 100%;
                height: 20rem;

                box-shadow: var(--paleAccent) -.1rem 0 0 0, var(--shadowColorThree) 0 0 .3rem, var(--paleAccent) .1rem 0 .1rem 0;
            }

            .item-1 {
                order: 0;
                padding-block: .5rem 1rem;
                flex-direction: column;
                gap: .3rem;

                box-shadow: var(--paleTertAccent) -.1rem -.05rem 0 0, var(--shadowColorThree) 0 0 .3rem, var(--paleTertAccent) .1rem -.1rem .1rem 0;
            }

            .item-2 {
                order: 5;
                height: 20rem;
                box-shadow: var(--paleSecAccent) -.1rem .1rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem;
            }

            .item-3 {
                order: 4;
                padding-block: .5rem .5rem;
                flex-direction: column-reverse;

                box-shadow: var(--paleAccent) -.1rem .05rem 0 0, var(--shadowColorThree) 0 0 .3rem, var(--paleAccent) .1rem .1rem .1rem 0;
            }

            .item-4 {
                order: 3;
                height: 20rem;

                box-shadow: var(--paleTertAccent) .1rem .1rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem;
            }

            .item-5 {
                order: 2;
                flex-direction: column;
                gap: .5rem;
                width: 100%;

                box-shadow: var(--paleSecAccent) -.1rem 0 0 0, var(--shadowColorThree) 0 0 .3rem, var(--paleSecAccent) .1rem 0 .1rem 0;
            }
        }
    }
}

@media (max-width: 950px) {
    .projectsMain {
        height: unset;
        width: 90vw;
        padding: 3%;
        margin-inline: auto;
        margin-top: 1rem;
        overflow: hidden;

        .angry-grid {
            .item-0 {
                transform: translate(0) !important;
            }

            .item-1 {
                transform: translate(0) !important;
            }

            .item-2 {
                transform: translate(0) !important;
            }

            .item-3 {
                transform: translate(0) !important;
            }

            .item-4 {
                transform: translate(0) !important;
            }

            .item-5 {
                transform: translate(0) !important;
            }
        }
    }
}

@media (max-width: 750px) {
    .projectsMain {
        height: unset;
        width: 100vw;
        padding: 3%;
        margin-inline: auto;
        margin-top: 1rem;
        overflow: hidden;

        .angry-grid {
            gap: 1.5rem;
            flex-wrap: nowrap;
            flex-direction: column;

            .projectItem {
                border-radius: .5rem;
                box-shadow: var(--shadowColorThree) 0px 0px 5px 1px !important;
            }

            .item-0 {
                .casTitle {
                    position: relative;
                    display: flex;
                    padding-top: .2rem;

                    h1 {
                        font-size: 3rem;
                        line-height: 2.9rem;
                        letter-spacing: -0.2rem;
                        text-indent: .4rem;
                    }
                }

                .casSubTitle {
                    letter-spacing: .2rem;
                    text-indent: .6rem;
                    font-size: small;
                }

                .casLinks {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 1rem;
                    left: .5rem;
                    gap: .5rem;

                    a {
                        position: relative;
                        display: flex;
                        align-items: center;
                        width: min-content;

                        padding: .3rem;
                        border-radius: 3rem;
                        transition: none;

                        svg {
                            width: 1.3rem;
                            height: 1.3rem;
                        }

                        h3 {
                            position: relative;
                            width: unset;
                            bottom: .1rem;
                            text-indent: .3rem;
                            letter-spacing: .2rem;
                            user-select: none;
                            font-size: small;

                            text-shadow: .07rem .07rem 0 var(--secColor);

                            transition: none;
                        }

                        &:focus-visible {
                            h3 {
                                width: unset;
                            }

                            &:last-child {
                                h3 {
                                    width: unset;
                                }
                            }
                        }

                        &:hover {
                            h3 {
                                width: unset;
                            }

                            &:last-child {
                                h3 {
                                    width: unset;
                                }
                            }
                        }
                    }
                }

                .casLogo {
                    width: 70%;
                    height: 70%;
                    right: 0;
                    top: unset;
                    bottom: 2rem;
                }
            }

            .item-1 {
                flex-direction: column-reverse;
                gap: .2rem;

                p {
                    position: relative;
                    font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: uppercase;
                    letter-spacing: .2rem;
                    color: var(--tpPri);
                    user-select: none;
                    text-shadow: .1rem .1rem 0 var(--secColor);
                    font-size: 0.8rem;
                }

                div {
                    gap: .5rem;

                    a {
                        position: relative;
                        align-items: center;
                        text-shadow: .07rem .05rem 0 var(--secAccent);

                        font-size: 1.2rem;
                        line-height: unset;
                        letter-spacing: -0.02rem;
                    }
                }

                box-shadow: var(--paleTertAccent) -.1rem -.05rem 0 0,
                var(--shadowColorThree) 0 0 .3rem,
                var(--paleTertAccent) .1rem -.1rem .1rem 0;
            }

            .item-2 {
                .weatherTitle {
                    text-shadow: .08rem .07rem 0 var(--accent);
                    font-size: 2rem;
                    letter-spacing: -0.05rem;
                }

                .weatherSubTitle {
                    font-size: small;
                }

                .weatherLinks {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: .5rem;
                    left: .5rem;
                    gap: .5rem;

                    a {
                        padding: .3rem;
                        border-radius: 3rem;
                        transition: none;
                        width: min-content;

                        svg {
                            width: 1.3rem;
                            height: 1.3rem;
                        }

                        h3 {
                            display: flex;

                            width: unset;
                            overflow: hidden;
                            white-space: nowrap;

                            text-indent: .3rem;
                            letter-spacing: .2rem;
                            text-shadow: .07rem .07rem 0 var(--secColor);
                            font-size: small;
                            position: relative;

                            transition: none;
                        }

                        &:focus-visible {
                            h3 {
                                width: unset;
                            }

                            &:last-child {
                                h3 {
                                    width: unset;
                                }
                            }
                        }

                        &:hover {
                            h3 {
                                width: unset;
                            }

                            &:last-child {
                                h3 {
                                    width: unset;
                                }
                            }
                        }
                    }
                }
            }

            .item-3 {
                gap: .2rem;

                h2 {
                    color: var(--accent);
                    text-shadow: .05rem .05rem 0 var(--secAccent);
                    font-size: 1.35rem;
                    letter-spacing: unset;
                    text-indent: unset;
                    text-align: center;
                    padding-inline: 1rem;

                    span {
                        color: var(--secAccent);
                        text-shadow: .05rem .05rem 0 var(--accent);

                        &:first-child {
                            margin-inline: unset;
                            color: var(--tertAccent);
                            text-shadow: .05rem .05rem 0 var(--secColor);
                        }

                        &:last-child {
                            margin-left: unset;
                            text-transform: uppercase;
                        }
                    }
                }

                div {
                    display: flex;
                    flex-direction: column;
                    left: unset;
                    gap: .2rem;

                    a {
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        text-transform: uppercase;
                        letter-spacing: .1rem;
                        font-size: small;

                        color: var(--tpPri);
                        text-shadow: .1rem .1rem 0 var(--secColor);
                        margin-left: unset;

                        user-select: none;


                        h3 {
                            transition: none;
                            text-shadow: .08rem .08rem 0 var(--secAccent);
                            color: var(--paleAccent);
                        }
                    }
                }
            }

            .item-4 {
                height: 17rem;

                .sscTitle {
                    display: flex;
                    gap: .5rem;

                    h2 {
                        text-shadow: .07rem .07rem 0 var(--secAccent);
                        font-size: 2rem;
                        letter-spacing: -0.1rem;
                    }
                }

                .sscSubTitle {
                    letter-spacing: .1rem;
                    text-shadow: .05rem .05rem 0 var(--secColor);
                    top: .3rem;
                }

                .sscLink {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    top: .5rem;
                    right: .5rem;
                    padding: .3rem;

                    border-radius: 3rem;
                    transition: none;

                    writing-mode: vertical-rl;
                    text-orientation: upright;

                    svg {
                        width: 1.1rem;
                        height: 1.1rem;
                    }

                    h3 {
                        height: unset;
                        letter-spacing: .2rem;
                        text-shadow: .05rem .05rem 0 var(--secColor);
                        padding-top: .5rem;
                        transition: none;
                    }

                    &:focus-visible {
                        h3 {
                            height: unset;
                        }
                    }

                    &:hover {
                        h3 {
                            height: unset;
                        }
                    }
                }

                .sscLogo {
                    position: absolute;
                    width: 85%;
                    height: 85%;
                    z-index: -2;
                    left: -32%;
                    top: -20%;

                    transform: rotate(135deg);
                    color: var(--tertAccent);
                    z-index: -3;

                    #linearSscLogo {
                        :first-child {
                            stop-color: var(--paleTertAccent)
                        }

                        :nth-child(2) {
                            stop-color: var(--secAccent)
                        }
                    }

                    path {
                        &:last-child {
                            color: var(--tertAccent);
                        }

                        &:nth-child(2) {
                            color: var(--paleTertAccent);
                            fill: var(--tertAccent);
                        }
                    }
                }

                .sscGradient {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: radial-gradient(circle at right bottom, transparent 30%, rgba(0, 0, 0, 0), var(--tpPri) 85%);
                    z-index: -1;
                }
            }

            .item-5 {
                h2 {
                    color: var(--secAccent);
                    text-shadow: .07rem .07rem 0 var(--accent);
                    font-size: 2rem;
                    font-weight: 600;
                    letter-spacing: -0.15rem;
                    font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: lowercase;
                    pointer-events: none;
                }

                div {
                    a {
                        position: relative;
                        font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                        text-transform: uppercase;
                        letter-spacing: .1rem;

                        color: var(--tpPri);
                        text-shadow: .1rem .1rem 0 var(--secColor);

                        user-select: none;
                        font-size: small;

                        &:last-child {
                            margin-left: .5rem;
                        }

                        &::before,
                        &::after {
                            transform: scale(1);
                            width: 90%;
                            align-self: center;
                            left: 0;
                            right: 0;
                            margin-inline: auto;
                            bottom: -.2rem;
                            height: .07rem;
                        }

                        &::before {
                            width: 50%;
                            z-index: -2;
                        }

                        &::after {
                            z-index: -3;
                        }

                        &:hover {
                            &::after {
                                transform: none;
                                transition: none;
                            }

                            &::before {
                                transform: none;
                                transition: none;
                            }
                        }

                        &:focus-visible {
                            &::after {
                                transform: none;
                                transition: none;
                            }

                            &::before {
                                transform: none;
                                transition: none;
                            }
                        }
                    }
                }
            }
        }
    }
}