header {
    .heroMain {
        .intro {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            height: 100svh;

            .introLogo {
                position: relative;
                height: 55%;

                &::before {
                    content: '';
                    position: absolute;
                    inset: -5%;
                    display: block;
                    box-shadow: 0 0 5vmax var(--accent),
                        0 0 10vmax var(--accent),
                        0 0 15vmax var(--paleAccent),
                        0 0 20vmax var(--paleAccent),
                        0 0 25vmax var(--paleAccent);
                    z-index: -3;
                    border-radius: 50%;
                }

                svg {
                    path{
                        transition: transform 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                        &:nth-child(1){
                            fill: var(--secAccent);
                        }
                        &:nth-child(2){
                            fill: var(--secColor);
                        }
                        &:nth-child(3){
                            fill: var(--tertAccent);
                        }
                        &:last-child{
                            fill: var(--accent);
                        }
                    }
                    height: 100%;
                }
            }

            .introName{
                display: flex;
                pointer-events: none;
                user-select: none;
                -webkit-user-select: none;
                .introTitle {
                    display: flex;
                    flex-direction: column;

                    h1 {
                        color: var(--accent);
                        text-shadow: .5rem 0.3rem 0 var(--tertAccent),1rem 0.5rem 0 var(--secAccent);
                        font-size: 15rem;
                        line-height: 11rem;
                        letter-spacing: -0.25rem;
                        font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                        text-transform: lowercase;
                    }
                }

                .introSubTitle {
                    font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: uppercase;
                    letter-spacing: 0.26rem;
                    color: var(--tpPri);
                    text-shadow: 0.1rem 0.1rem 0 var(--secColor);

                    font-size: large;

                    display: flex;
                    flex-direction: column;

                    position: relative;
                    left: -7rem;
                    top: 9rem;
                }
            }
        }
    }
}