:root {
    --priColor: rgb(243, 243, 243);
    --tpPri: rgba(255, 255, 255, .65);
    --tpSec: rgba(0, 0, 0, 0.650);
    --secColor: rgba(0, 0, 0, 0.822);
    --secAccent: rgb(237, 22, 165);
    --accent: rgb(20, 221, 171);
    --tertAccent: rgb(235, 152, 36);

    --shadowColor: rgba(0, 0, 0, 0.05);
    --shadowValue: 0.1rem;
    --shadowColorThree: rgba(17, 17, 26, 0.05);

    --paleAccent: rgba(26, 216, 169, 0.489);
    --paleSecAccent: rgb(237, 22, 165, 0.5);
    --paleTertAccent: rgba(255, 162, 0, 0.723);

    --extraPrimary: rgb(255, 255, 255);
}

.dark-mode {
    --priColor: rgb(0, 0, 0);
    --tpPri: rgba(25, 25, 25, 0.475);
    --tpSec: rgba(255, 255, 255, 0.2);
    --secColor: rgb(255, 255, 255);

    --accent: rgb(216, 141, 255);
    --secAccent: rgb(78, 199, 255);
    --tertAccent: rgb(255, 183, 82);

    --shadowColor: rgba(255, 255, 255, 0.247);
    --shadowValue: 0.05rem;
    --shadowColorThree: rgba(177, 177, 177, 0.11);

    --paleAccent: rgba(216, 141, 255, 0.489);
    --paleSecAccent: rgb(78, 199, 255, 0.5);
    --paleTertAccent: rgba(255, 191, 0, 0.524);

    --extraPrimary: rgb(17, 25, 35);

    background: radial-gradient(circle at center, #1b2735 0%, #090a0f 100%);
    background-repeat: no-repeat;

    #root {
        header {
            nav {
                button {

                    &::before,
                    &::after {
                        opacity: .6;
                    }
                }
            }
        }
    }
}