* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    &:focus-visible {
        outline: none;
    }
}

body {
    font-family: 'Segoe UI', Calibri, Verdana, sans-serif;
    overflow: hidden;
    color: var(--secColor);
    display: flex;
    justify-content: center;

    &.dark-mode {
        #root {
            header {
                backdrop-filter: blur(.5rem);

                nav {
                    button {
                        &::before,
                        &::after {
                            opacity: .6;
                        }
                    }
                }

                .settingsDiv {
                    .settingsContainer {
                        backdrop-filter: blur(.5rem);
                    }
                }
            }
        }
    }
}

img {
    image-rendering: crisp-edges;
}

a,
span,
button {
    cursor: pointer;
}

button {
    background: none;
    border: none;
}