* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    &:focus-visible {
        outline: none;
    }
}

body {
    overflow-x: hidden;
    color: var(--secColor);
    display: flex;
    justify-content: center;

    min-height: 100vh;
    min-height: 100svh;

    max-width: 2400px;
    align-self: center;
    margin-inline: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: .5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-radius: 25rem;
    }

    &.dark-mode {
        &::-webkit-scrollbar-track {
            background: radial-gradient(circle at center, #1b2735 0%, #090a0f 100%);
            background-repeat: no-repeat;
        }

        #root {
            header {
                nav {
                    button {
                        backdrop-filter: blur(.3rem);
                        background-color: var(--tpPri);

                        &::before,
                        &::after {
                            opacity: .6;
                        }
                    }
                }

                .settingsContainer {
                    backdrop-filter: blur(.5rem);
                }


                .intro {
                    .introLogo {
                        &::before {
                            backdrop-filter: blur(.5rem);
                        }
                    }
                }

                .about {
                    .aboutInfo {
                        div {
                            backdrop-filter: blur(.5rem);
                        }
                    }

                    .skills {
                        .skillsGrid {
                            div {
                                &:nth-child(7) {
                                    svg {
                                        path {
                                            fill: var(--priColor);
                                        }
                                    }
                                }

                                &:nth-child(5) {
                                    svg {
                                        color: rgb(178, 178, 178);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .projectsMain {
                .angry-grid {
                    .projectItem {
                        backdrop-filter: blur(.5rem);

                        &.item-0 {
                            .casLinks {
                                a {
                                    backdrop-filter: blur(.5rem);
                                }
                            }
                        }

                        &.item-2 {
                            .weatherLogo {
                                &.sunLogo {
                                    display: none;
                                }

                                &.moonLogo {
                                    display: block;
                                }
                            }

                            .weatherLinks {
                                a {
                                    backdrop-filter: blur(.5rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.light-mode {
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        #root {
            header {
                nav {
                    button {
                        backdrop-filter: blur(.3rem);
                        background-color: var(--tpPri);
                    }
                }

                .settingsContainer {
                    backdrop-filter: blur(.5rem);
                }

                .intro {
                    background: radial-gradient(circle at right bottom, transparent 0%, rgba(0, 0, 0, 0), var(--tpPri) 50%);

                    .introLogo {
                        &::before {
                            backdrop-filter: blur(.3rem);
                        }

                        svg {
                            path {
                                &:nth-child(1) {
                                    fill: rgb(243, 82, 42);
                                }

                                &:nth-child(2) {
                                    fill: var(--tertAccent);
                                }

                                &:nth-child(3) {
                                    fill: rgb(189, 243, 42);
                                }

                                &:last-child {
                                    fill: var(--accent);
                                }
                            }
                        }
                    }
                }

                .about {
                    background: radial-gradient(circle at top center, transparent 0%, rgba(0, 0, 0, 0), var(--tpPri) 70%);

                    .aboutInfo {
                        div {
                            backdrop-filter: blur(.5rem);
                        }
                    }

                    .skills {
                        .skillsGrid {
                            div {
                                &:nth-child(5) {
                                    svg {
                                        color: rgb(100, 100, 100);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .projectsMain {
                background: radial-gradient(circle at bottom center, transparent 0%, rgba(0, 0, 0, 0), var(--tpPri) 70%);

                .angry-grid {
                    .projectItem {
                        backdrop-filter: blur(1rem);

                        &.item-2 {
                            .weatherLogo {
                                &.sunLogo {
                                    display: block;
                                }

                                &.moonLogo {
                                    display: none;
                                }
                            }

                            .weatherLinks {
                                a {
                                    backdrop-filter: blur(.5rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 2500px) {
    html {
        font-size: clamp(1.5625rem, 0.3125rem + 0.8vw, 2.8125rem);

        body {
            header {
                .settingsContainer {
                    div {
                        &.performanceContainer {
                            button {

                                p,
                                h3 {
                                    font-size: 1rem;
                                }
                            }
                        }

                        &.themeContainer {
                            .settingsTitle {
                                font-size: 1.3rem;
                            }

                            button {
                                p {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                nav {
                    .nav-button {
                        font-size: 1.3rem;
                    }
                }

                .intro {
                    .introName {
                        .introSubTitle {
                            font-size: 1.2rem;
                        }
                    }
                }

                .about {
                    .aboutTitle {
                        font-size: 1rem;
                        letter-spacing: .2rem;
                    }
                }
            }

            .contactMain {
                .contactContainer {
                    .cardContainer {
                        .contactCard {
                            &.github {
                                &::before {
                                    transform: translateX(calc(var(--origin-x) - 140%)) translateY(calc(var(--origin-y) - 225%));
                                }
                            }

                            &.email {
                                &::before {
                                    transform: translateX(calc(var(--origin-x) - 275%)) translateY(calc(var(--origin-y) - 210%));
                                }
                            }

                            &.linkedin {
                                &::before {
                                    transform: translateX(calc(var(--origin-x) - 470%)) translateY(calc(var(--origin-y) - 225%));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    body {
        &.dark-mode {
            #root {
                header {
                    nav {
                        &.nav-active {
                            box-shadow: var(--accent) -.1rem .1rem var(--shadowValue);
                            background-color: var(--tpPri);
                            backdrop-filter: blur(.2rem);
                        }
                    }
                }
            }
        }

        &.light-mode {
            #root {
                header {
                    nav {
                        &.nav-active {
                            box-shadow: var(--accent) -.1rem .1rem var(--shadowValue);
                            background-color: var(--tpPri);
                            backdrop-filter: blur(.2rem);
                        }
                    }
                }
            }
        }
    }
}

img {
    image-rendering: crisp-edges;
}

a,
button {
    cursor: pointer;
}

button {
    background: none;
    border: none;
}