body {
    &.performance {
        #root {
            header {
                backdrop-filter: blur(0) !important;

                .settingsContainer {
                    backdrop-filter: blur(0) !important;
                    background-color: var(--extraPrimary);
                }
            }

            .projectsMain {
                .angry-grid {
                    .projectItem{
                        backdrop-filter: blur(0) !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    body {
        &.performance {
            #root {
                header {
                    backdrop-filter: blur(0) !important;

                    nav {
                        backdrop-filter: none !important;
                        background-color: var(--extraPrimary);
                    }

                    #headerLogo,
                    #settingsButton {
                        backdrop-filter: none !important;
                        background-color: var(--extraPrimary);
                    }

                    .settingsContainer {
                        backdrop-filter: blur(0) !important;
                        background-color: var(--extraPrimary);
                    }
                }
            }
        }
    }
}