body {
    &.performance {
        #root {
            header {
                .settingsContainer {
                    backdrop-filter: blur(0) !important;
                    background-color: var(--extraPrimary);
                }

                nav {
                    .nav-buttons {
                        backdrop-filter: blur(0) !important;
                        background-color: var(--extraPrimary);
                    }

                    .toggleNavButton {
                        backdrop-filter: blur(0) !important;
                        background-color: var(--extraPrimary);
                    }
                }

                .intro {
                    .introLogo {
                        &::before {
                            backdrop-filter: blur(0) !important;
                        }

                        svg {
                            path {
                                &:nth-child(1) {
                                    translate: 0% -0.5%;
                                }

                                &:nth-child(2) {
                                    translate: 2% -3.5%;
                                }

                                &:nth-child(3) {
                                    translate: 4% -7.5%;
                                }

                                &:last-child {
                                    translate: 6% -10.5%;
                                }
                            }
                        }
                    }

                    .about {
                        .aboutInfo {
                            div {
                                backdrop-filter: blur(0) !important;
                            }
                        }
                    }
                }
            }

            .projectsMain {
                .angry-grid {
                    .projectItem {
                        backdrop-filter: blur(0) !important;

                        &.item-2 {
                            .weatherLinks {
                                a {
                                    background-color: var(--extraPrimary);
                                    backdrop-filter: blur(0) !important;
                                }
                            }
                        }

                        &.item-0 {
                            .casLinks {
                                a {
                                    backdrop-filter: blur(0) !important;
                                }
                            }
                        }
                    }
                }
            }

            .contactMain {
                .contactContainer {
                    .cardContainer {
                        .contactCard {
                            &::before {
                                transform: none !important;
                                display: none;
                            }

                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    body {
        &.performance {
            #root {
                header {
                    nav {
                        &.nav-active {
                            backdrop-filter: blur(0) !important;
                            background-color: var(--extraPrimary);
                        }
                    }

                    #headerLogo,
                    #settingsButton {
                        backdrop-filter: none !important;
                        background-color: var(--extraPrimary);
                    }

                    .settingsContainer {
                        backdrop-filter: blur(0) !important;
                        background-color: var(--extraPrimary);
                    }
                }
            }
        }
    }
}