.contactMain {
    padding-bottom: 2%;

    .contactTitle {
        font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: larger;
        font-weight: 650;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: var(--additionalAccent);
        margin-bottom: 3rem;
        position: relative;
        left: 10.8rem;
        pointer-events: none;
    }

    .contactContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;

        .contactInfo {
            max-width: 55%;
            pointer-events: none;

            h1 {
                color: var(--tertAccent);
                text-shadow: 0.15rem 0.15rem 0 var(--additionalAccent);
                font-size: 4.5rem;
                line-height: 4rem;
                letter-spacing: -0.25rem;
                font-family: antique-olive, -apple-system, BlinkMacSystemFont,
                    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
                    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                text-transform: lowercase;
            }

            p {
                font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI,
                    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
                    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                letter-spacing: 0.27rem;
                color: var(--tpPri);
                text-shadow: 0.05rem 0.05rem 0 var(--secColor);
                font-size: 1.3rem;
                margin-top: 1rem;
                margin-left: 1rem;

                span {
                    font-weight: 600;
                    letter-spacing: 0.2rem;
                    color: var(--tertAccent);
                    text-shadow: 0.07rem 0.07rem 0 var(--additionalAccent);
                }
            }
        }

        .cardContainer {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;

            @keyframes rotate {
                from {
                    rotate: 0deg;
                    scale: 1;
                }

                30% {
                    scale: 0.8;
                }

                50% {
                    rotate: 360deg;
                }

                70% {
                    scale: 1.5;
                }

                to {
                    rotate: 0deg;
                    scale: 1;
                }
            }

            .contactCard {
                position: relative;

                border-radius: 1rem;
                padding: 2rem;

                overflow: hidden;

                display: flex;
                flex-direction: column;
                text-align: center;

                h1 {
                    color: var(--paleSecAccent);
                    text-shadow: 0.15rem 0.15rem 0 var(--priColor), -0.15rem -0.15rem 10rem var(--secAccent);
                    font-size: 3.5rem;
                    line-height: 4rem;
                    letter-spacing: -0.2rem;
                    font-family: antique-olive, -apple-system, BlinkMacSystemFont,
                        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
                        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: lowercase;
                    margin-bottom: 7rem;
                    pointer-events: none;
                }

                p {
                    font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    font-size: larger;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: .2rem;
                    color: var(--secAccent);
                    pointer-events: none;
                }

                a {
                    position: relative;
                    color: var(--priColor);
                    text-shadow: 0.15rem 0.15rem 0 var(--secColor), -0.15rem -0.15rem 0 var(--secColor);
                    font-size: 5.5rem;
                    line-height: 4rem;
                    letter-spacing: -0.25rem;
                    font-family: antique-olive, -apple-system, BlinkMacSystemFont,
                        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
                        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: lowercase;

                    width: fit-content;
                    align-self: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 4rem;

                    span {
                        &:nth-child(odd) {
                            z-index: 2;
                        }

                        &:nth-child(even) {
                            animation: 1000ms 1000ms ease-in-out infinite alternate pulse;
                            z-index: 0;
                        }
                    }

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 50%;
                        height: 50%;
                        width: 105%;
                        pointer-events: none;
                        border-radius: .4rem;

                        transform-origin: right;
                        transform: scaleX(0);

                        z-index: 1;
                    }

                    &:hover {
                        &::after {
                            transform: scaleX(1);
                        }

                        &::before {
                            transform: scaleX(1);
                        }
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    background: linear-gradient(to right, var(--paleAccent), var(--paleSecAccent), var(--paleTertAccent));
                    filter: blur(1.5rem);
                    border-radius: 50%;
                    width: 20rem;
                    height: 20rem;
                    z-index: -2;
                    animation: rotate 20s infinite;
                    transition: transform 2.4s cubic-bezier(.1, 1, .22, 1);
                }

                &::after {
                    content: '';
                    position: absolute;
                    backdrop-filter: blur(5rem);
                    inset: -1%;
                    z-index: -1;
                }

                &.github {
                    box-shadow: var(--paleSecAccent) -.1rem .1rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem;

                    &::before {
                        transform: translateX(calc(var(--origin-x) - 125%)) translateY(calc(var(--origin-y) - 190%));
                    }

                    h1 {
                        color: var(--secAccent);
                        text-shadow: 0.15rem 0.15rem 0 var(--priColor), -0.15rem -0.15rem 10rem var(--secAccent);
                        opacity: 0.9;
                    }

                    p {
                        color: var(--secAccent);
                    }

                    a {
                        color: var(--priColor);
                        text-shadow: 0.15rem 0.15rem 0 var(--secColor), -0.15rem -0.15rem 0 var(--secColor);
                        line-height: 4rem;

                        &::before,
                        &::after {
                            height: 40%;
                            width: 105%;
                        }

                        &::after {
                            transform-origin: right;
                            background-color: var(--secAccent);
                            transition: transform 1s cubic-bezier(.19, 1, .22, 1);
                        }

                        &::before {
                            transform-origin: right;
                            background-color: var(--accent);
                            transition: transform 1.9s cubic-bezier(.19, 1, .22, 1);
                        }

                        &:hover {
                            &::after {
                                transform-origin: left;
                                transition: transform 1.9s cubic-bezier(.19, 1, .22, 1);
                            }

                            &::before {
                                transform-origin: left;
                                transition: transform 1s cubic-bezier(.19, 1, .22, 1);
                            }
                        }
                    }
                }

                &.email {
                    width: 35rem;
                    height: 30rem;
                    box-shadow: var(--paleAccent) 0 .1rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem;

                    &::before {
                        transform: translateX(calc(var(--origin-x) - 270%)) translateY(calc(var(--origin-y) - 180%));
                    }

                    h1 {
                        color: var(--accent);
                        text-shadow: 0.15rem 0.15rem 0 var(--priColor), -0.15rem -0.15rem 10rem var(--accent);
                        font-size: 4.5rem;
                        line-height: 4rem;
                        opacity: 0.8;
                    }

                    p {
                        color: var(--accent);
                        margin-right: 4.5rem;
                    }

                    a {
                        color: var(--priColor);
                        text-shadow: 0.15rem 0.15rem 0 var(--secColor), -0.15rem -0.15rem 0 var(--secColor);
                        font-size: 8rem;
                        line-height: 3rem;

                        &::before,
                        &::after {
                            top: 60%;
                        }

                        &::after {
                            transform-origin: left;
                            background-color: var(--accent);
                            transition: transform 1.5s cubic-bezier(.19, 1, .22, 1);
                        }

                        &::before {
                            transform-origin: right;
                            background-color: var(--secAccent);
                            transition: transform 1.5s cubic-bezier(.19, 1, .22, 1);
                        }

                        &:hover {
                            &::after {
                                transform-origin: center;
                                transition: transform 1.9s cubic-bezier(.19, 1, .22, 1);
                            }

                            &::before {
                                transform-origin: center;
                                transition: transform 1s cubic-bezier(.19, 1, .22, 1);
                            }
                        }
                    }
                }

                &.linkedin {
                    box-shadow: var(--additionalPaleAccent) .1rem .1rem var(--shadowValue) 0, var(--shadowColorThree) 0 0 .3rem;

                    &::before {
                        transform: translateX(calc(var(--origin-x) - 450%)) translateY(calc(var(--origin-y) - 190%));
                    }

                    h1 {
                        color: var(--additionalAccent);
                        text-shadow: 0.15rem 0.15rem 0 var(--priColor), -0.15rem -0.15rem 10rem var(--tertAccent);
                        opacity: 0.8;
                    }

                    p {
                        color: var(--additionalAccent);
                    }

                    a {
                        color: var(--priColor);
                        text-shadow: 0.15rem 0.15rem 0 var(--secColor), -0.15rem -0.15rem 0 var(--secColor);
                        line-height: 4rem;

                        &::before,
                        &::after {
                            height: 40%;
                            width: 105%;
                            transform-origin: left;
                        }

                        &::after {
                            transform-origin: left;
                            background-color: var(--tertAccent);
                            transition: transform 1s cubic-bezier(.19, 1, .22, 1);
                        }

                        &::before {
                            transform-origin: left;
                            background-color: var(--additionalAccent);
                            transition: transform 1.9s cubic-bezier(.19, 1, .22, 1);
                        }

                        &:hover {
                            &::after {
                                transform-origin: right;
                                transition: transform 1.9s cubic-bezier(.19, 1, .22, 1);
                            }

                            &::before {
                                transform-origin: right;
                                transition: transform 1s cubic-bezier(.19, 1, .22, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .contactMain {
        .contactTitle {
            font-size: medium;
            margin-bottom: 1.5rem;
        }

        .contactContainer {
            .contactInfo {
                h1 {
                    font-size: 4rem;
                    line-height: 3.5rem;
                }

                p {
                    font-size: 1.2rem;
                    margin-top: 1rem;
                    margin-left: 1rem;
                }
            }

            .cardContainer {
                gap: 1.5rem;
                border-radius: 1rem;

                .contactCard {
                    border-radius: .5rem;
                    padding: 1rem;

                    h1 {
                        font-size: 3rem;
                        line-height: 3rem;
                        margin-bottom: 25%;
                    }

                    p {
                        font-size: large;
                    }

                    a {
                        font-size: 4.5rem;
                        line-height: 4rem;
                        letter-spacing: -0.1rem;
                        margin-bottom: 2.5rem;
                    }

                    &::before {
                        width: 15rem;
                        height: 15rem;
                    }

                    &.github {
                        &::before {
                            transform: translateX(calc(var(--origin-x) - 130%)) translateY(calc(var(--origin-y) - 200%));
                        }

                        p {
                            color: var(--secAccent);
                        }

                        a {

                            &::before,
                            &::after {
                                height: 30%;
                            }
                        }
                    }

                    &.email {
                        width: unset;
                        max-width: 30rem;
                        height: unset;

                        &::before {
                            transform: translateX(calc(var(--origin-x) - 280%)) translateY(calc(var(--origin-y) - 180%));
                        }

                        h1 {
                            font-size: 4rem;
                            line-height: 3.5rem;
                        }

                        p {
                            margin-right: 4rem;
                        }

                        a {
                            font-size: 7rem;
                            line-height: 2.5rem;

                            &::before,
                            &::after {
                                top: 70%;
                            }
                        }
                    }

                    &.linkedin {
                        &::before {
                            transform: translateX(calc(var(--origin-x) - 500%)) translateY(calc(var(--origin-y) - 220%));
                        }

                        a {
                            color: var(--priColor);
                            text-shadow: 0.15rem 0.15rem 0 var(--secColor), -0.15rem -0.15rem 0 var(--secColor);
                            line-height: 4rem;

                            &::before,
                            &::after {
                                height: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .contactMain {
        .contactTitle {
            font-size: medium;
            margin-bottom: 1rem;
        }

        .contactContainer {
            .contactInfo {
                h1 {
                    font-size: 3.3rem;
                }

                p {
                    font-size: 1rem;
                    margin-top: .5rem;
                    margin-left: .5rem;
                }
            }

            .cardContainer {
                .contactCard {
                    padding: 1rem;

                    h1 {
                        font-size: 2.3rem;
                        line-height: 2.5rem;
                        margin-bottom: 5rem;
                    }

                    p {
                        font-size: small;
                    }

                    a {
                        font-size: 2.7rem;
                        line-height: 2.5rem;
                        letter-spacing: 0.2rem;
                        margin-bottom: 1.5rem;
                    }

                    &::before {
                        width: 10rem;
                        height: 10rem;
                    }

                    &.github {
                        &::before {
                            transform: translateX(calc(var(--origin-x) - 165%)) translateY(calc(var(--origin-y) - 260%));
                        }

                        p {
                            color: var(--secAccent);
                        }

                        a {
                            text-shadow: 0.10rem 0.10rem 0 var(--secColor), -0.10rem -0.10rem 0 var(--secColor);

                            &::before,
                            &::after {
                                top: 50%;
                                height: 20%;
                            }
                        }
                    }

                    &.email {
                        width: unset;
                        max-width: 23rem;
                        height: unset;

                        &::before {
                            transform: translateX(calc(var(--origin-x) - 330%)) translateY(calc(var(--origin-y) - 250%));
                        }

                        h1 {
                            font-size: 2.7rem;
                            line-height: 3rem;
                        }

                        p {
                            font-size: small;
                        }

                        a {
                            color: var(--priColor);
                            text-shadow: 0.10rem 0.10rem 0 var(--secColor), -0.10rem -0.10rem 0 var(--secColor);
                            font-size: 4.5rem;
                            line-height: 2rem;

                            &::before,
                            &::after {
                                top: 65%;
                            }
                        }
                    }

                    &.linkedin {
                        &::before {
                            transform: translateX(calc(var(--origin-x) - 590%)) translateY(calc(var(--origin-y) - 265%));
                        }

                        a {
                            color: var(--priColor);
                            text-shadow: 0.10rem 0.10rem 0 var(--secColor), -0.10rem -0.10rem 0 var(--secColor);
                            line-height: 4rem;

                            &::before,
                            &::after {
                                top: 50%;
                                height: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .contactMain {
        .contactTitle {
            padding-inline: 1rem;
            margin-left: .5rem;
            font-size: small;
            left: unset;
        }

        .contactContainer {
            gap: 3rem;
            padding-inline: 1rem;

            .contactInfo {
                max-width: unset;
                h1 {
                    text-shadow: 0.1rem 0.1rem 0 var(--additionalAccent);
                    font-size: 2.5rem;
                    letter-spacing: -0.15rem;
                }

                p {
                    font-size: 0.85rem;
                    letter-spacing: 0rem;
                    margin-left: 0.3rem;
                    font-weight: 600;
                    text-shadow: 0.03rem 0.03rem 0 var(--secColor);
                    color: var(--tpPri);
                }
            }

            .cardContainer {
                .contactCard {
                    box-shadow: var(--shadowColorThree) 0px 0px 5px 1px !important;
                    width: 100%;
                    max-width: unset!important;
                    padding: 1rem;
                    border-radius: 0;

                    h1 {
                        font-size: 2.3rem;
                        line-height: 2.5rem;
                        margin-bottom: 5rem;
                    }

                    p {
                        font-size: small;
                    }

                    a {
                        text-shadow: 0.03rem 0.03rem 0 var(--secColor), -0.10rem -0.10rem 0 var(--secColor)!important;
                        font-size: 2.7rem;
                        line-height: 2.5rem;
                        letter-spacing: 0.2rem;
                        margin-bottom: 1.5rem;

                        &::before,
                        &::after {
                            display: none;
                        }
                    }

                    &::before {
                        transform: none !important;
                        display: none;
                    }

                    &::after {
                        display: none;
                    }

                    &.github {
                        h1{
                            text-shadow: 0.15rem 0.15rem 0 var(--priColor), -0.5rem -0.5rem 10rem var(--secAccent);
                        }
                    }

                    &.email {
                        h1{
                            text-shadow: 0.15rem 0.15rem 0 var(--priColor), -0.5rem -0.5rem 10rem var(--accent);
                        }
                    }

                    &.linkedin {
                        h1{
                            text-shadow: 0.15rem 0.15rem 0 var(--priColor), -0.5rem -0.5rem 10rem var(--tertAccent);
                        }
                    }
                }
            }
        }
    }
}