header {
    position: relative;
    width: 100vw;
    width: 100svw;

    z-index: 5;

    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(190deg);
        }

        100% {
            transform: rotate(120deg);
        }
    }

    @keyframes returnAnimation {
        0% {
            transform: rotate(420deg);
        }

        60% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(50deg);
        }
    }

    @keyframes rotateAnimation2 {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(380deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes returnAnimation2 {
        0% {
            transform: rotate(420deg);
        }

        60% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    #headerLogo {
        position: fixed;
        top: .8rem;
        left: .7rem;
        width: 3.5rem;
        height: 3.5rem;
        color: var(--accent);
        border: .2rem solid var(--accent);
        border-radius: 50%;
        padding: .4rem;
        margin-right: .3rem;

        z-index: 5;
        transition: all 400ms ease;

        svg {
            transition: color 400ms ease;
        }

        &:focus-visible {
            border-color: var(--paleAccent);
            color: var(--paleAccent);
        }

        &:hover {
            border-color: var(--paleAccent);
            color: var(--paleAccent);

            svg {
                path {
                    stroke-dashoffset: 100;
                }

                animation: rotateAnimation2 .5s linear forwards;
            }
        }
    }
}

@media (max-width: 1400px) {
    header {
        #headerLogo {
            top: .5rem;
            left: .5rem;
        }

        nav {
            right: .7rem;
            top: .7rem;

            .nav-button {
                padding: .6rem 1rem;
            }

            #settingsButton {
                top: 120%;
                right: .5rem;

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .settingsContainer {
            top: 11rem;
            gap: .5rem;
            padding-bottom: .5rem;
            padding-inline: 1rem;

            div {
                &.performanceContainer {
                    gap: 0;

                    button {
                        gap: 1.7rem;

                        p,
                        h3 {
                            font-size: small;
                        }
                    }
                }

                &.themeContainer {
                    button {
                        padding-block: .3rem;

                        p {
                            font-size: small;
                        }

                        svg {
                            width: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    header {
        #headerLogo {
            top: .3rem;
            left: .3rem;
        }

        nav {
            right: .5rem;
            top: .5rem;

            .toggleNavButton {
                padding: .8rem;
            }

            .nav-button {
                padding: .5rem .8rem;
            }

            #settingsButton {
                right: .3rem;

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .settingsContainer {
            top: 10rem;
            gap: .5rem;
            padding-bottom: .5rem;
            padding-inline: 1rem;

            div {
                &.performanceContainer {
                    gap: 0;

                    button {

                        p,
                        h3 {
                            font-size: small;
                        }
                    }
                }

                &.themeContainer {
                    button {
                        padding-block: .3rem;

                        p {
                            font-size: small;
                        }

                        svg {
                            width: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        #headerLogo {
            width: 3rem;
            height: 3rem;
        }

        nav {
            top: .3rem;
            padding-inline: .1rem;
            padding-bottom: .5rem;
            transition: all 300ms ease;
            border-radius: 3rem;
            flex-direction: column;

            &.nav-active {
                box-shadow: var(--accent) -.1rem .1rem var(--shadowValue);
                background-color: var(--tpPri);
                backdrop-filter: blur(.2rem);
            }

            .toggleNavButton {
                order: 0;
                
                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }

            #settingsButton {
                position: relative;
                right: unset;
                left: unset;
                order: 5;
                transform: translateX(200%);
                box-shadow: var(--shadowColor) 0 var(--shadowValue) .05rem .05rem;

                svg {
                    width: 1.5rem;
                    height: 1.5rem;

                    path {
                        stroke-dasharray: 0;
                    }
                }

                &:not(:hover) {
                    svg {
                        animation: none;
                    }
                }

                &:hover {
                    box-shadow: var(--tertAccent) 0 var(--shadowValue) .05rem .05rem;

                    svg {
                        animation: none;
                    }
                }

                &:active {
                    box-shadow: var(--secAccent) 0 var(--shadowValue) .05rem .05rem;
                }
            }

            .nav-button {
                order: 1;
                padding: .5rem;
                border-radius: 50% !important;
                box-shadow: var(--shadowColor) 0 var(--shadowValue) .05rem .05rem;
                transform: translateX(200%);

                backdrop-filter: blur(0) !important;

                &::before,
                &::after {
                    display: none;
                }

                p {
                    display: none;
                }

                svg {
                    width: 1.5rem;
                    height: 1.5rem;

                    path {

                        &:first-child,
                        &:last-child {
                            stroke-dasharray: 0;
                        }
                    }
                }

                &:hover {
                    svg {
                        animation: none;
                    }
                }

                &:active {
                    color: var(--accent);
                }

                &.active {
                    border-radius: 50% !important;
                    box-shadow: var(--accent) 0 var(--shadowValue) .05rem .05rem;
                }
            }
        }

        .settingsContainer {
            top: .6rem;
            right: 5rem;
            gap: 0;
            padding: 0;
            box-shadow: none;
            border: .15rem solid var(--paleAccent);
            border-radius: 1rem;
            transform: translateY(-130%);
            overflow: hidden;

            div {
                &.performanceContainer {
                    gap: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;

                    button {
                        flex-direction: column;
                        gap: .5rem;
                        box-shadow: none;
                        margin: 0;

                        border-radius: 0;
                        border: none;

                        padding-block: 1.5rem;

                        p,
                        h3 {
                            font-size: small;
                        }
                    }

                    &::before {
                        display: none;
                    }
                }

                .settingsTitle {
                    font-size: small;
                    margin-top: .2rem;

                    &::after {
                        content: '';
                        display: block;
                        background: linear-gradient(45deg, var(--paleAccent) 0%, var(--accent) 50%, var(--paleAccent) 100%);
                        margin-block: .4rem;
                        height: .15rem;
                        width: 100%;
                    }
                }

                &.themeContainer {
                    justify-content: center;
                    gap: .3rem .5rem;

                    border-bottom: var(--paleAccent) .1rem solid;
                    padding-inline: .5rem;
                    padding-bottom: 1rem;

                    button {
                        margin: 0;
                        gap: 1rem;

                        svg {
                            width: 1.5rem;
                            height: 1.5rem;

                            path {

                                &:first-child,
                                &:last-child {
                                    stroke-dasharray: 0;
                                }
                            }
                        }

                        &:hover {
                            svg {
                                animation: none;
                            }
                        }

                        svg {
                            width: 1.2rem;
                        }
                    }
                }
            }
        }

        .settingsContainer-enter-active,
        .settingsContainer-exiting {
            transform: translateY(-130%);
        }

        .settingsContainer-enter-done {
            transform: translate(0);
        }
    }
}