header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.6rem 2rem;
    gap: 1rem;

    flex-wrap: wrap;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;

    box-shadow: var(--paleAccent) 0 var(--shadowValue) 0, var(--shadowColorThree) 0 0 .65rem;

    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(190deg);
        }

        100% {
            transform: rotate(120deg);
        }
    }

    @keyframes returnAnimation {
        0% {
            transform: rotate(420deg);
        }

        60% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(50deg);
        }
    }

    @keyframes rotateAnimation2 {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(380deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes returnAnimation2 {
        0% {
            transform: rotate(420deg);
        }

        60% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    #headerLogo {
        width: 2rem;
        height: 2rem;
        color: var(--secAccent);
    }
}