header {
    .settingsDiv {
        position: relative;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        #settingsButton {
            width: 2.3rem;
            height: 2.3rem;

            color: var(--tertAccent);

            svg {
                path {
                    stroke-dasharray: 100;
                    stroke-dashoffset: 0;
                    transition: stroke-dashoffset 1s linear;
                }
            }

            &:hover {
                svg {
                    path {
                        stroke-dashoffset: 100;
                    }

                    animation: rotateAnimation .5s linear forwards;
                }
            }

            &:not(:hover) {
                svg {
                    animation: returnAnimation .5s linear forwards;

                    path {
                        stroke-dashoffset: 0;
                    }
                }
            }
        }

        .settingsContainer {
            position: absolute;
            display: grid;
            grid-template-rows: 0fr;

            gap: 1rem;
            background: var(--tpPri);
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;

            box-shadow: var(--paleAccent) 0 var(--shadowValue) 0, var(--shadowColorThree) 0 0 .65rem;

            width: 20rem;

            top: -2rem;
            left: 5.5rem;

            transition: all .5s;

            height: 15rem;
            padding-block: 0.5rem 1.5rem;
            padding-inline: 1.5rem;
            transform: translateY(-30rem);

            .themeContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .themeTitle {
                    position: relative;
                    text-align: center;
                    width: 100%;
                    font-size: large;
                    font-weight: 550;

                    &::after {
                        content: '';
                        display: block;
                        background: linear-gradient(45deg, var(--paleAccent) 0%, var(--accent) 50%, var(--paleAccent) 100%);
                        margin-block: .5rem;
                        height: .2rem;
                        width: 100%;
                    }
                }

                button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-block: .5rem;
                    border: .15rem solid transparent;
                    transition: all .3s ease-in-out;

                    color: var(--secColor);
                    box-shadow: var(--shadowColor) 0 .05rem .1rem 0;

                    padding: .5rem;
                    border-radius: 1rem;

                    border-top-left-radius: 1rem;
                    border-bottom-left-radius: .7rem;

                    svg {
                        width: 1.5rem;
                    }

                    p {
                        font-size: medium;
                    }

                    &.currentTheme {
                        pointer-events: none;
                        color: var(--accent);
                        background: var(--tpPri);
                        border-color: var(--paleAccent);
                        box-shadow: none;

                        &:focus-visible {
                            background: var(--tpPri);
                        }
                    }

                    &:hover {
                        background: var(--paleAccent);

                        svg {
                            path {
                                &:first-child {
                                    stroke-dashoffset: 100;
                                }
                            }

                            animation: rotateAnimation2 .8s linear forwards;
                        }
                    }

                    &:focus-visible {
                        background: var(--paleAccent);
                    }
                }
            }
        }

        .settingsContainer-enter-active,
        .settingsContainer-exiting {
            transform: translateY(-30rem);
        }

        .settingsContainer-enter-done {
            transform: translateY(0);
        }
    }
}