header {
    .settingsDiv {
        position: relative;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        #settingsButton {
            width: 2.3rem;
            height: 2.3rem;

            color: var(--tertAccent);

            svg {
                path {
                    stroke-dasharray: 100;
                    stroke-dashoffset: 0;
                    transition: stroke-dashoffset 1s linear;
                }
            }

            &:hover {
                svg {
                    path {
                        stroke-dashoffset: 100;
                    }

                    animation: rotateAnimation .5s linear forwards;
                }
            }

            &:active {
                svg {
                    color: var(--secAccent);
                    animation: rotateAnimation .5s linear forwards;
                }
            }


            &:not(:hover) {
                svg {
                    animation: returnAnimation .5s linear forwards;

                    path {
                        stroke-dashoffset: 0;
                    }
                }
            }
        }

        .settingsContainer {
            position: absolute;
            display: grid;
            grid-template-rows: 0fr;
            gap: 1rem;

            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            box-shadow: var(--paleAccent) 0 var(--shadowValue) 0, var(--shadowColorThree) 0 0 .65rem;

            width: 20rem;

            top: -2rem;
            left: 5.5rem;

            transition: all .5s;

            padding-block: 0.5rem 1.5rem;
            padding-inline: 1.5rem;
            transform: translateY(-30rem);

            div {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .settingsTitle {
                    position: relative;
                    text-align: center;
                    width: 100%;
                    font-size: large;
                    font-weight: 550;

                    &::after {
                        content: '';
                        display: block;
                        background: linear-gradient(45deg, var(--paleAccent) 0%, var(--accent) 50%, var(--paleAccent) 100%);
                        margin-block: .5rem;
                        height: .2rem;
                        width: 100%;
                    }
                }

                &.performanceContainer {
                    gap: 1rem;

                    button {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        margin-block: .5rem;
                        border: .15rem solid transparent;
                        transition: all .3s ease-in-out;

                        color: var(--secColor);
                        box-shadow: var(--shadowColor) 0 .05rem .1rem 0;

                        padding: .5rem;
                        border-radius: 1rem;

                        border-top-left-radius: .8rem;
                        border-bottom-left-radius: 1rem;

                        cursor: pointer;

                        p {
                            font-size: medium;
                            transition: all .3s ease-in-out;
                        }

                        h3 {
                            transition: all .2s ease-in-out;

                            span {
                                transition: all .2s ease-in-out;

                                &:last-child {
                                    color: var(--tertAccent);
                                }
                            }
                        }

                        &.active {
                            color: var(--accent);
                            border-color: var(--paleAccent);
                            box-shadow: none;

                            &:focus-visible {
                                background: var(--tpPri);
                            }

                            &:hover {
                                background: none;
                                border-color: var(--accent);
                            }

                            &:active {
                                border-color: var(--paleAccent);
                            }

                            h3 {
                                span {
                                    &:first-child {
                                        color: var(--accent);
                                    }

                                    &:last-child {
                                        color: var(--secColor);
                                    }
                                }
                            }
                        }

                        &:hover {
                            background: var(--paleAccent);
                        }

                        &:focus-visible {
                            background: var(--paleAccent);
                        }

                        &:active {
                            border-color: var(--accent);
                        }
                    }

                    &::before {
                        content: '';
                        display: block;
                        background: linear-gradient(45deg, var(--paleAccent) 0%, var(--accent) 50%, var(--paleAccent) 100%);
                        margin-block: .5rem;
                        height: .2rem;
                        width: 100%;
                    }
                }

                &.themeContainer {
                    button {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        margin-block: .5rem;
                        border: .15rem solid transparent;
                        transition: all .3s ease-in-out;

                        color: var(--secColor);
                        box-shadow: var(--shadowColor) 0 .05rem .1rem 0;

                        padding: .5rem;
                        border-radius: 1rem;

                        border-top-left-radius: 1rem;
                        border-bottom-left-radius: .7rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        svg {
                            width: 1.5rem;

                            path {
                                &:first-child {
                                    stroke-dasharray: 100;
                                    stroke-dashoffset: 0;
                                    transition: stroke-dashoffset .5s ease;
                                }
                            }
                        }

                        p {
                            font-size: medium;
                        }

                        &.currentTheme {
                            pointer-events: none;
                            color: var(--accent);
                            background: var(--tpPri);
                            border-color: var(--paleAccent);
                            box-shadow: none;

                            &:focus-visible {
                                background: var(--tpPri);
                            }
                        }

                        &:hover {
                            background: var(--paleAccent);

                            svg {
                                animation: rotateAnimation2 .7s linear forwards;
                            }
                        }

                        &:focus-visible {
                            background: var(--paleAccent);
                        }

                        &:active {
                            svg {
                                path {
                                    &:first-child {
                                        stroke-dashoffset: 100;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .settingsContainer-enter-active,
        .settingsContainer-exiting {
            transform: translateY(-30rem);
        }

        .settingsContainer-enter-done {
            transform: translateY(0);
        }
    }
}

@media (max-width: 768px){
    
}